.tabBtns {
  width: 390px;
  height: 52px;
  border-bottom: 1px solid var(--border);
  margin-bottom: 16px;

  & button {
    width: 130px;
    height: 52px;
    background-color: var(--grayscale-dark-0);
    padding: 0;

    &:hover {
      background-color: var(--grayscale-dark-40);
    }

    &.active {
      border-bottom: 2px solid var(--brand);
    }

    .buttonText {
      color: var(--tab);
      font-size: 15px;
      font-weight: 700;

      &.active {
        color: var(--brand);
      }
    }
  }
}
