.container {
  width: 639px;
  height: 143px;
  display: flex;
  padding: 0 20px;
  margin-top: 10px;
  border-bottom: 1px solid #e6ecf0;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
  
  &:hover {
      box-shadow: 0px 0px 0px 5px rgba(255,102,0,0.55);
    }
}

.info {
  width: 100%;
  margin-left: 10px;

  .title {
    display: flex;
    justify-content: space-between;
    color: var(--grayscale-dark-100);

    .name {
      font-size: 16px;
      font-weight: 700;
      padding-top: 20px;
    }
  }
  .button {
    margin-top: 5px;
  }

  .description {
    font-size: 16px;
    color: var(--grayscale-dark-100);
    margin-top: 25px;
  }
}
