@import "./reset.scss";
@import "./base.scss";
@import "../components/shared/shareBtn/BtnStyle.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;

  .title {
    color: var(--signuppage-title);
    margin: 24px 0 30px 0;
  }

  .cancelBtn {
    width: 32px;
    height: 24px;
    margin-top: 28px;
    font-size: 16px;
    color: var(--primary);
    text-decoration: underline;
  }
}

.nameError {
  background-color: var(--error);

  &::after {
    content: "必填欄位!";
    position: absolute;
    bottom: -15px;
    left: 0;
    color: var(--error);
    font-size: 12px;
    font-weight: 500;
  }
}

.passwordError {
  background-color: var(--error);

  &::after {
    content: "密碼不一致!";
    position: absolute;
    bottom: -15px;
    left: 0;
    color: var(--error);
    font-size: 12px;
    font-weight: 500;
  }
}
