.header {
	width: 639px;
	height:59px;
	margin-top: 16px;
	padding: 9px 0 0 24px;
	border-bottom: 1px solid var(--border);
}

.input{
  position:relative;
}

.nameError {
  background-color: var(--error);

  &::after {
    content: "字數超過上限!";
    position: absolute;
    bottom: -15px;
    left: 0;
    color: var(--error);
    font-size: 12px;
    font-weight: 500;
  }
}

.passwordError {
  background-color: var(--error);

  &::after {
    content: "密碼不一致!";
    position: absolute;
    bottom: -15px;
    left: 0;
    color: var(--error);
    font-size: 12px;
    font-weight: 500;
  }
}

.btn{
  position: absolute;
  right: 24px
}



