.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .logo {
    width: 50px;
    height: 50px;
    margin: 8px 0 12px 8px;

    .acLogo {
      width: 40px;
      height: 40px;
    }
  }

  .navItem {
    position: relative;
    flex: 1;

    ul {
      padding: 0;
    }

    .bottomItem ul li {
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
    }
  }
}

// 錯誤訊息提示
%error {
  // position: absolute;
  // bottom: 75px;
  // right: -80px;
  // height: 2px;
  width: 100%;

  &::after {
    content: "";
    font-size: 15px;
    font-weight: 500;
    color: var(--error);
  }
}

.emptyError {
  @extend %error;

  &::after {
    content: "內容不可空白";
    position: absolute;
    right: 10px;
    bottom: 2px;
  }
}

.overError {
  @extend %error;

  &::after {
    content: "字數不可超過140字";
    position: absolute;
    right: 10px;
    bottom: 2px;
  }
}
