.header {
  display: flex;
  width: 639px;
  height: 59px;
  margin-top: 16px;
  padding: 9px 0 0 24px;

  .arrow {
    width: 24px;
    height: 24px;
    margin-right: 40px;
    cursor: pointer;
  }

  .arrow {
    width: 24px;
    height: 24px;
    margin-right: 40px;
  }

  .text {
    display: flex;
    flex-direction: column;

    .sub {
      font-size: 13px;
      font-weight: 500;
      color: var(--secondary);
      margin-top: 6px;
    }
  }
}

.infoCard {
  margin-bottom: 100px;
}


.loading {
  position: absolute;
  top: 30%;
  right:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @keyframes Loading-Icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loadingIcon {
    animation: Loading-Icon 3s linear infinite;
  }
}

.loadingText{
  font-size: 20px;
  font-weight: 700;
  color:var(--brand);
}
}
