.container {
  max-width: 1140px;
  height: 1200px;
  margin: 0 auto;
  display: flex;

  .leftContainer {
    width: 178px;
    height: 100%;
  }

  .rightContainer {
		min-width: 938px;
		max-width: 1076px;
    height: 100%;
		margin-left: 24px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
}